main {
    width: 60vw;
    height: 60vh;
    background: lightblue;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

main aside {
    flex: 1;
    background: red;
}
.b {
    background: green;
}

.c {
    background: yellow;
}