:root {
    --primaryRed: rgb(224, 42, 42);
}


body {
    background-color: #eee;
    margin: 0;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    background-color: #222;
    height: 200px;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
} 

header h1 {
    margin: 2rem;
}

nav {
    background-color: #999;
    height: 3rem;
    padding: 0 1rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 1rem;
}

nav a {
    text-decoration: none;
    color: #444;
    transition: all .2s ease;
}

nav a:hover {
    color: black;
}

section {
    display: flex;
    gap: 1rem;
}

section main {
    flex: 1;
}

section main article {
    background: white;
    padding: 1rem;
    margin-bottom: 1rem;
}

section main article img {
    width: 100%;
}

section aside {
    background-color: #ddd;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem 0;
}

section aside > article {
    max-width: 80%;
    width: 100%;
    background: #222;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
}

section.gallery {
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    gap: 2rem;
}

section.gallery > article {
    max-width: 220px;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 3rem rgba(0,0,0,.2);
    min-height: 400px;
    display: flex;
    flex-direction: column;
}

section.gallery > article img {
    width: 100%;
}

section.gallery > article .btn {
    margin-top: auto;
}

section.gallery > article h3, section.gallery > article p {
    margin: 0;
    padding: 0.25rem 0.5rem;
}

/* COMPONENT */
.btn {
   display: inline-block;
   border: 2px solid #000;
   margin: 0.5rem;
   padding: 0.75rem 1.5rem;
   border-radius: 4px;
   text-decoration: none;
   color: #000;
   box-sizing: border-box;
   text-align: center;
   opacity: 0.6;
   transition: all .2s ease;
}

.btn:hover {
    opacity: 1;
}

.btn.alert {
    border-color: var(--primaryRed);
    color: var(--primaryRed);
}

.btn.large {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1rem 2rem;
}


footer {
    height: 300px;
    background-color: #222;
    background-image: url('img/footermapbg.png');
    background-size: cover;
    color: white;
    display: flex;
    gap: 1rem;
}

footer > article {
    flex: 1;
    padding: 1rem;
}